.inputField {
  outline: none;
  padding-left: 7px;
  width: 100%;
  margin: auto;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  background-color: white
}

.sendButton {
  width: 4.5%;
  margin: 0.25rem;
  background: #99bfef;
  border-radius: 1.5rem;
  cursor: pointer;
  justify-content: center;
  display: flex;
  align-items: center;
}

.sendButton:hover {
  background: #d2e6ff;
}